<h1>This is show</h1>
<%= render "restaurants/partials/card", restaurant: @restaurant %>
<div>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %></li>
    <% end %>
  </ul>
<div>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>

<a href="#" class="card-link"><%= link_to "review", new_restaurant_review_path(@restaurant) %></a>
<a href="#" class="card-link">Another link</a>
